doctype
head
    title Apuntes
    meta(charset="utf-8")
    link(href="estilos.css" rel="stylesheet" type="text/css" media="screen")

body
    #contenedor
     #header 
        h1 ESTO ES EL HEADER
     #izquierdo
        h1 PANEL IZQUIERDO
     #centro
        h1 CENTRO DE PAGINA
     #derecho
        H1 PANEL DERECHO
		
    
    
        
      

     
     h1 Info resoluciones
     p 1080p (p= Progressive scanning).
     p 1080i (i= Interlaced scanning).
     